p{
    background-color: rgb(71, 229, 229);
}
h3
{
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgb(220, 189, 208);
}
div
{
    background-color: rgb(159, 135, 247);
    border: 2px solid rgb(245, 245, 245);
    padding: 10px;
    margin: 20px;
}
.image
{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid rgb(245, 245, 245);
    transform: rotate(270deg);
}